body {
  font-family: "Microsoft yahei",arial, sans-serif;
  font-size: 14px;
  color: #000000;
  min-width: 1200px;
}
.navbar {
  border-radius: 0px;
}
a {
  font-family: "Microsoft yahei";
  color: #000;
  text-decoration: none;
}
a:hover {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.color-blue {
  color: #0082df;
}
.radius-3 {
  border-radius: 3px !important;
}
.margin-top-20 {
  margin-top: 20px;
}
.padding-top-7 {
  padding-top: 7px;
}
.padding-right-0 {
  padding-right: 0px;
}
