.container
  .row
    .col-md-12
      %ul.list-group#filter-cond-ctn
        - @categories.each do |c|
          %li.list-group-item
            .row
              .col-md-1.text-center
                %strong.filter-cond-label
                  = c.name + ":"
              .col-md-11
                %a.filter-cond-item{:value => "all"}
                  全部
                - c.theme_tags.each do |tag|
                  %a.filter-cond-item{:value => tag.id}
                    = tag.name
