%link{:href => "https://fortawesome.github.io/Font-Awesome/assets/font-awesome/css/font-awesome.css", :rel => "stylesheet"}
  / footer start from here
  %footer
    .container
      .row
        .col-md-4.col-sm-6.footerleft
          .logofooter Logo
          %p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley.
          %p
            %i.fa.fa-map-pin
            210, Aggarwal Tower, Rohini sec 9, New Delhi - &#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;110085, INDIA
          %p
            %i.fa.fa-phone
            Phone (India) : +91 9999 878 398
          %p
            %i.fa.fa-envelope
            E-mail : info@webenlance.com
        .col-md-2.col-sm-6.paddingtop-bottom
          %h6.heading7 GENERAL LINKS
          %ul.footer-ul
            %li
              %a{:href => "#"} Career
            %li
              %a{:href => "#"} Privacy Policy
            %li
              %a{:href => "#"} Terms  Conditions
            %li
              %a{:href => "#"} Client Gateway
            %li
              %a{:href => "#"} Ranking
            %li
              %a{:href => "#"} Case Studies
            %li
              %a{:href => "#"} Frequently Ask Questions
        .col-md-3.col-sm-6.paddingtop-bottom
          %h6.heading7 LATEST POST
          .post
            %p
              facebook crack the movie advertisment code:what it means for you
              %span August 3,2015
            %p
              facebook crack the movie advertisment code:what it means for you
              %span August 3,2015
            %p
              facebook crack the movie advertisment code:what it means for you
              %span August 3,2015
        .col-md-3.col-sm-6.paddingtop-bottom
          .fb-page{"data-adapt-container-width" => "true", "data-height" => "300", "data-hide-cover" => "false", "data-href" => "https://www.facebook.com/facebook", "data-show-facepile" => "true", "data-small-header" => "false", "data-tabs" => "timeline", :style => "margin-bottom:15px;"}
            .fb-xfbml-parse-ignore
              %blockquote{:cite => "https://www.facebook.com/facebook"}
                %a{:href => "https://www.facebook.com/facebook"} Facebook
  / footer start from here
  .copyright
    .container
      .col-md-6
        %p &#xA9; 2016 - All Rights with Webenlance
      .col-md-6
        %ul.bottom_ul
          %li
            %a{:href => "#"} webenlance.com
          %li
            %a{:href => "#"} About us
          %li
            %a{:href => "#"} Blog
          %li
            %a{:href => "#"} Faq's
          %li
            %a{:href => "#"} Contact us
          %li
            %a{:href => "#"} Site Map
